.hidden {
    display: none;
}

.shown {
    display: block;
}

.buttonline {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logs {
    margin-top: 25px;
}

#deliLogs {
    margin-left: 10px;
}

#intrLogs {
    margin-left: 10px;
}

#formdiv {
    height: 190px;
    min-width: 255px;
    background-color: whitesmoke;
    line-height: 1px;
    position: relative;
    border-radius: 25px;
    box-shadow: 5px 5px #888888;
    border: 1px solid;
}

body {
    /*background-color: #ffcf7b;*/
    line-height: 2px;
    background-color: #a7dbd8;
}